.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 20px;
  color: #eee;
  font-size: 10px;
  flex-basis: 100%;
}

.App-title {
  font-size: 3.3em;
}

.App-content{
  display: flex;
}

@media(max-width: 500px){
  .App-title {
    font-size: 2.3em;
  }

  .App-content{
    flex-direction: column;
  }
}

